:root {
    --color-primary: hsl(218, 44%, 22%);
    --color-secondary: hsl(216, 15%, 48%);
    --color-background: hsl(212, 45%, 89%);
    --color-card: #fff;
    
    --font-size-base: 0.9375rem;
    --font-size-title: 1.5rem;
    
    --spacing-xs: 0.3125rem;
    --spacing-sm: 1rem;
    --spacing-radius: 1.5625rem;
    --spacing-radius-sm: 0.9375rem;
}

* {
    padding: 0;
    margin: 0;
    display: block;
    font-family: Outfit, sans-serif;
    font-size: 0.9375rem;
}

.main-wrapper {
    background-color: var(--color-background);
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card {
    background-color: var(--color-card);
    width: clamp(15.625rem, 50vw, 18.75rem); 
    font-size: clamp(0.875rem, 2.5vw, 0.9375rem);
    padding: var(--spacing-sm);
    border-radius: var(--spacing-radius);
    display: grid;
    grid-template-rows: 1fr auto;
    gap: var(--spacing-xs);
    grid-template-areas: "image" "texts";
    box-shadow: 0 10px 35px rgb(139, 139, 139);

}

.card > img {
    grid-area: image;
    border-radius: 15px;
    width: 100%;
}
.main-texts {
    grid-area: texts;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}
.main-title {
    color: var(--color-primary);
    font-weight: 700;
    font-size: clamp(1.25rem, 4vw, 1.4rem);
}

.main-text {
    color: var(--color-secondary);
    font-weight: 400;
}

@media (max-width: 20rem) {
    .card {
        width: 15.625rem;
    }
}